.trailListItem {
    background-color: white;
    border-style: solid;
    border: 1px solid black;
    border-radius: 10px;
    color: black;
}

.row {
    width: 1319px;
    height: 196px;
}

.firstCol {
    position: relative;
}

.trailIcon {
    position: absolute;
    width: 154px;
    height: 147px;
    left: 24px;
    top: 25px;
    background: #FE5D26;
    border-radius: 10px;
}

.trailImage {
    width: 125px;
    height: 125px;
}

.secondCol {
    text-align: left;
}

.trailName {
    font-size: 30px;
    margin-top: 25px;
    margin-bottom: 65px;
}

.thirdCol {
    text-align: right;
    font-size: 24px;
    position: relative;
}

.trailMountain {
    position: absolute;
    top: 143px;
    right: 10px;
}

.fourthCol {
    position: relative;
}

.verticalLine {
    border-left: 2px solid gray;
    height: 155px;
    width: 5px;
    margin-top: 20px;
}

.trailRating {
    font-size: 30px;
    position: absolute;
    top: 78px;
    left: 50%;
    transform: (-50%, 0);
}

.Loading {
    color: black;
}